//страница О КОМПАНИИ
section.main-section.main-section-pt#block1.fullpage
    .container
        h3.title-3 О компании
        .section-content.section-content--about
            .section-text
                p ООО «ПКФ Энергострой» с 2012 года осуществляет разработку и проектирование,  изготовление и монтаж блочно-модульных транспортабельных котельных установок ТКУ и БКУ, а также монтаж отдельно стоящих, пристроенных к объектам отопления котельных, встроенных в существующее помещение потребителя и крышных котельных теплопроизводительностью от 0,1 до 50 МВт, предназначенных для работы на газообразном (природный и сжиженный газ) топливе, жидком (солярка и мазут) топливе, отработанном масле, твердом (пеллеты и уголь) топливе.
                    span.more-info читать далее
                    
                .section-paragraph--hide      
                    p ТКУ предназначены для обеспечения теплом потребителя, а так же вентиляции и ГВС объектов производственного назначения, административного и  культурно-бытового назначения, а также жилых комплексов и домов. ТКУ изготовляется в виде блоков, которые после доставки на место эксплуатации монтируются в единую конструкцию. Доставка блоков БКУ осуществляется железнодорожным и авто транспортом. 
                    p В зависимости от согласованного технического задания и пожеланий заказчика, котельная оборудуется современными средствами автоматизации, позволяющими работать котельной без обслуживающего персонала.

            .section-img
                img(src="img/about/about.jpg", alt="image")

section.main-section#block2.fullpage.main-section--video
    .container
        .section-content.section-content--video 
            .section-text
                p.section-paragraph Предприятие изготавливает ТКУ различных тепловых мощностей по разработанным чертежам нашей проектной группой и предлагаемым чертежам заказчика.
                
                p.section-paragraph Для отвода продуктов сгорания из топки котлов, наше предприятие поставляет дымовые трубы изготовленные из стали утепленные и неутепленные, а также из нержавеющей стали с теплоизоляцией (сэндвич труба). Подбор высоты и диаметра труб производится на основании аэродинамического расчета.
                
                p.section-paragraph Для крепления дымовых труб наше предприятие предлагает различные варианты:
                ul
                    li Самонесущая на растяжках
                    li На ферме
                    li Мачтовая

            .video-block
                iframe( width="560" height="315" src="https://www.youtube.com/embed/zpuJdhHkamc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

        .slogan-block
            p.medium-title В индивидуальном порядке ООО «ПКФ Энергострой» осуществляет разработку и изготовление нестандартного теплотехнического и газового оборудования по заданию и чертежам заказчика.        
        
        .paragraph 
            p Кроме того, ООО «ПКФ Энергострой» изготавливает пункты газорегуляторные блочные (ПГБ и ГРПБ), пункты газорегуляторные шкафные (ГРПШ), установки газорегуляторные выполненные на раме (ГРУ), различные пункты учета расхода газа (блочные ПУРГ и шкафные ШУРГ), фильтры газовые ФГ Ду32-Ду300.

section.main-section#block3.fullpage
    .container
        h3.title-3 Основные достоинства котельных
        .benefits-block.benefits-block-mt
            .benefits-block-item                
                .benefits-text.text-medium  Полная заводская готовность (надежность всех систем котельной)
                    .benefits-number 01

            .benefits-block-item
                
                .benefits-text.text-medium  Низкая себестоимость (сокращает капитальные затраты)
                    .benefits-number 02
            .benefits-block-item                
                .benefits-text.text-medium  Мобильность (позволяет быстро менять место эксплуатации)
                    .benefits-number 03

            .benefits-block-item                
                .benefits-text.text-medium  Низкие эксплуатационные затраты
                    .benefits-number 04
        .benefits-carousel
            .benefits-carousel-item
                img(src="img/home-slider/slider1.jpg", alt="slider")
            .benefits-carousel-item
                img(src="img/home-slider/slider2.jpg", alt="slider")
            .benefits-carousel-item
                img(src="img/home-slider/slider3.jpg", alt="slider")
            .benefits-carousel-item
                img(src="img/home-slider/slider1.jpg", alt="slider")
            .benefits-carousel-item
                img(src="img/home-slider/slider2.jpg", alt="slider")
            .benefits-carousel-item
                img(src="img/home-slider/slider3.jpg", alt="slider")

            