aside.aside
    nav.aside-nav
        ul.aside-nav-wrpper
            li.aside-nav-item
                a.aside-nav-link(href="#") О компании
            li.aside-nav-item
                a.aside-nav-link(href="#") Продукция
            li.aside-nav-item
                a.aside-nav-link(href="#") Услуги
            li.aside-nav-item
                a.aside-nav-link(href="#") Опросные листы
            li.aside-nav-item
                a.aside-nav-link(href="#") Партнерам
            li.aside-nav-item
                a.aside-nav-link(href="#") Контакты
    .aside-footer
        .aside-wrapper
            .aside-footer-phone 8 (8452) 674 604
            a.aside-footer-callback(href="#") Заказать звонок
            a.aside-footer-price(href="#") Запрос цены
    .header-social.header-social--aside
        a(href="#").header-social-item
            i.fab.fa-twitter(aria-hidden='true')
        a(href="#").header-social-item
            i.fab.fa-facebook-f(aria-hidden='true')
        a(href="#").header-social-item
            i.fab.fa-vk(aria-hidden='true')
