aside.aside
    nav.aside-nav
        ul.aside-nav-wrpper
            li.aside-nav-item
                a(href="about.html").aside-nav-link О компании
            li.aside-nav-item
                a(href="products.html").aside-nav-link Продукция
            li.aside-nav-item
                a(href="#").aside-nav-link Услуги
            li.aside-nav-item
                a(href="#service").aside-nav-link Опросный лист
            li.aside-nav-item
                a(href="partners.html").aside-nav-link Партнерам
            li.aside-nav-item
                a(href="#footer").aside-nav-link Контакты
    .aside-footer
        .aside-wrapper
            a(href="tel:+78452674604").aside-footer-phone 8 (8452) 674 604
            a(href="").aside-footer-callback Заказать звонок
            a(href="").aside-footer-price Запрос цены
    .header-social.header-social--aside
        a(href="#").header-social-item
            i.fab.fa-twitter(aria-hidden='true')
        a(href="#").header-social-item
            i.fab.fa-facebook-f(aria-hidden='true')
        a(href="#").header-social-item
            i.fab.fa-vk(aria-hidden='true')
