aside.aside
    .aside-header
        img.aside-header-img(src="../../img/logo.png", alt="logo")
    nav.aside-nav
        ul.aside-nav-wrpper
            li.aside-nav-item
                a.aside-nav-link(href="#") О компании
            li.aside-nav-item
                a.aside-nav-link(href="#") Продукция
            li.aside-nav-item
                a.aside-nav-link(href="#") Услуги
            li.aside-nav-item
                a.aside-nav-link(href="#") Опросные листы
            li.aside-nav-item
                a.aside-nav-link(href="#") Партнерам
            li.aside-nav-item
                a.aside-nav-link(href="#") Контакты
    .aside-footer
        .aside-footer-wrapper
            .aside-footer-phone 8 (8452) 674 604
            .aside-footer-callback
                a(href="#") Заказать звонок
            .aside-footer-price
                a(href="#") Запрос цены