section.benefits.main-section
    .container
        h3.title-3 Основные достоинства котельных
        .benefits-block
            .benefits-block-item                
                .benefits-text.text-medium  Полная заводская готовность (надежность всех систем котельной)
                    .benefits-number 01

            .benefits-block-item
                
                .benefits-text.text-medium  Низкая себестоимость (сокращает капитальные затраты)
                    .benefits-number 02
            .benefits-block-item                
                .benefits-text.text-medium  Мобильность (позволяет быстро менять место эксплуатации)
                    .benefits-number 03

            .benefits-block-item                
                .benefits-text.text-medium  Низкие эксплуатационные затраты
                    .benefits-number 04
        .benefits-carousel.owl-carousel
            .owl-carousel-item
                img(src="img/home-slider/slider1.jpg", alt="slider")
            .owl-carousel-item
                img(src="img/home-slider/slider2.jpg", alt="slider")
            .owl-carousel-item
                img(src="img/home-slider/slider3.jpg", alt="slider")
            .owl-carousel-item
                img(src="img/home-slider/slider1.jpg", alt="slider")
            .owl-carousel-item
                img(src="img/home-slider/slider2.jpg", alt="slider")
            .owl-carousel-item
                img(src="img/home-slider/slider3.jpg", alt="slider")
        .benefits-descrip
            p.section-paragraph Предприятие изготавливает ТКУ различных тепловых мощностей по разработанным чертежам нашей проектной группой и предлагаемым чертежам заказчика.
            p.section-paragraph Для отвода продуктов сгорания из топки котлов, наше предприятие поставляет дымовые трубы изготовленные из стали утепленные и неутепленные, а также из нержавеющей стали с теплоизоляцией (сэндвич труба). Подбор высоты и диаметра труб производится на основании аэродинамического расчета. Для крепления дымовых труб наше предприятие предлагает различные варианты:
            ul
                li Самонесущая на растяжках
                li На ферме
                li Мачтовая
            p.section-paragraph Кроме того, ООО «ПКФ Энергострой» изготавливает пункты газорегуляторные блочные (ПГБ и ГРПБ), пункты газорегуляторные шкафные (ГРПШ), установки газорегуляторные выполненные на раме (ГРУ), различные пункты учета расхода газа (блочные ПУРГ и шкафные ШУРГ), фильтры газовые ФГ Ду32-Ду300. 


