section.main-section.main-section-pt#block1.section.section0
    .container
        .contacts-wrapper
            .contacts-text
                .company-name
                    p Общество с ограниченной ответственностью «ПКФ Энергострой»
                .contacts-item
                    .text-top
                        p Адрес юридический:
                    .text-bottom 
                        p 410005, город Саратов, улица Железнодорожная 126, помещение 6
                .contacts-item
                    .text-top
                        p Адрес для корреспонденции:
                    .text-bottom 
                        p 410005, город Саратов, улица Железнодорожная 126, помещение 6
                .contacts-item
                    .text-top
                        p Отдел продаж:
                    .text-bottom 
                        a(href="tel:88452674604") 8 (8452) 674 604
                        a(href="tel:88452464099") 8 (8452) 464 099
                        a(href="tel:88452376659") 8 (8452) 376 659
                .contacts-item
                    .text-top
                        p E-mail:
                    .text-bottom 
                        a(href="mailto:info@gaz555.ru") info@gaz555.ru
            .contacts-map
                iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae7f22a7c5053a8c2b70dc531d21c1207b80fd2536940444cce1f138f4de4c217&amp;source=constructor" width="100%" height="600" frameborder="0") 