//страница ПРОЕКТИРОВАНИЕ
section.main-section.main-section-pt#block1.fullpage
    .container
        h3.title-3 Проектирование
        .section-content.section-content--designing
            .section-text
                p.section-paragraph ООО «ПКФ Энергострой» предлагает широкий спектр видов работ и услуг в сфере проектирования теплоэнергетического оборудования. 
                p.section-paragraph ООО «ПКФ Энергострой» специализируется на изготовлении котельных блочного типа ТКУ(БКУ) для отопления и гвс промышленных предприятий и жилых комплексов. Процесс изготовления объединяет полный комплекс работ, в который входят: проектирование модульных котелен, проведение предварительных расчетов необходимого оборудования и много других технологических этапов.
                    span.more-info читать далее
                p.section-paragraph--hide    
                    span.section-paragraph Создание и реализация каждого проекта требует полного учета всех пожеланий заказчика, поэтому подход к рассмотрению заявки индивидуален. Проект котельной изготавливается с учетом всех особенностей ее эксплуатации. Поэтому создание универсальной котельной блочного типа, рассчитанной на все условия использования, невозможно. 
                    span.section-paragraph Проектирование блочно модульных котельных является процессом уникальным, учитывающим все факторы применения блочного котельного оборудования. Поэтому перед тем, как составить заявку, желательно обратиться к специалистам завода, которые помогут сделать наиболее оптимальный выбор необходимого модуля. 
            .section-img
                img(src="img/designing/designing.jpg", alt="image")

section.main-section#block2.fullpage
    .container
        .section-article
            p.medium-titile.text-medium Котельные объекты блочно-модульного типа, изготавливаемые нашей компанией, делятся на группы:
            .type-cards
                .card
                    .card-top
                        h5 По назначению:
                    .card-body
                        ul
                            li производственные
                            li отопительные
                            li производственно-отопительные
                .card
                    .card-top
                        h5 По виду топлива:
                    .card-body
                        ul
                            li жидкотопливные
                            li твердотопливные
                            li комбинированного типа
                .card
                    .card-top
                        h5 По месту монтажа:
                    .card-body
                        ul
                            li крышные
                            li встраиваемые
                            li пристроенные
                            li отдельно стоящие
                .card
                    .card-top
                        h5 По теплоносителю:
                    .card-body
                        ul
                            li парового
                            li водогрейного типа
                            
                .card
                    .card-top
                        h5 По потреблению:
                    .card-body
                        ul
                            li центрального типа
                            li индивидуального типа
            p.section-paragraph Каждая заявка, поступившая к нашим специалистам, проходит анализ, который позволяет выбрать наиболее подходящую модульную котельную именно для этого конкретного случая. После этого создается соответствующий проект и начинается изготовление.                 
        .section-article                
            p.medium-titile.text-medium Другие наши услуги:
            nav.other-service
                a(href="#").other-service-item
                    span Изготовление
                a(href="#").other-service-item
                    span Доставка
                a(href="#").other-service-item
                    span Монтаж
                a(href="#").other-service-item
                    span Запуск и наладка


            
                