footer.footer
    .footer-content
        .footer-contacts
            .footer-contacts__item.footer-contacts__company
                .top-text.text-medium ООО «ПКФ Энергострой»
                .bottom-text.text-medium Производство котельного и газового оборудования
            .footer-contacts__item
                .top-text.text-medium Адрес юридический:
                .bottom-text.text-medium 410007, город Саратов, ул. Блинова 2-й проезд, дом 6
            .footer-contacts__item
                .top-text.text-medium Адрес для корреспонденции:
                .bottom-text.text-medium 410007, город Саратов, ул. Блинова 2-й проезд, дом 6
            .footer-contacts__item
                a(href="tel:88452464099").footer-link.text-medium Тел/факс: 8 (8452) 464 099, 37 66 59; 
                a(href="mailto:info@gaz555.ru").footer-link.text-medium E-mail: info@gaz555.ru 
        .footer-menu