footer.footer
    .footer-top
        .container
            .footer-content
                .footer-menu
                    .footer-menu-column
                        h4.title-4 Продукция
                        a(href="#").footer-link ТКУ (заводской готовности)
                        a(href="#").footer-link ГРУ, Шкафы

                    .footer-menu-column
                        h4.title-4 Услуги
                        a(href="desigining.html").footer-link Проектирование
                        a(href="#").footer-link Изготовление
                        a(href="#").footer-link Доставка
                        a(href="#").footer-link Монтаж
                        a(href="#").footer-link Запуск и наладка

                    .footer-menu-column
                        h4.title-4 О нас
                        a(href="#").footer-link О компании
                        a(href="#").footer-link Партнерам
                        a(href="#").footer-link Новости
                        a(href="#").footer-link Контакты
                        a(href="#").footer-link Карта сайта
                .footer-contacts
                    .footer-contacts__item.footer-contacts__company
                        .top-text.text-medium ООО «ПКФ Энергострой»
                        .bottom-text.text-medium Производство котельного и газового оборудования
                    .footer-contacts__item
                        .top-text Адрес юридический:
                        .bottom-text 410007, город Саратов, ул. Блинова 2-й проезд, дом 6
                    .footer-contacts__item
                        .top-text Адрес для корреспонденции:
                        .bottom-text 410007, город Саратов, ул. Блинова 2-й проезд, дом 6
                    .footer-contacts__item
                        .top-text
                            span Тел/факс:
                            span 8 (8452) 464 099, 37 66 59; 
                        a(href="mailto:info@gaz555.ru").footer-link E-mail: info@gaz555.ru 
                
    
    .container    
        .footer-copyright
            p © 2009-2019 ООО «ПКФ Энергострой»
            a(href="#") Политика конфиденциальности