<<<<<<< HEAD
.main-page
    .about
=======
header.header
    .header-search
        i.fas.fa-search(aria-hidden='true')
    .header-social
        .header-social-item
            i.fab.fa-twitter(aria-hidden='true')
        .header-social-item
            i.fab.fa-facebook-f(aria-hidden='true')
        .header-social-item
            i.fab.fa-vk(aria-hidden='true')
    
>>>>>>> 258ecf436828d01e26c581306f91f985edf625ad
