header.header
    .header-logo
        img.header-logo-img(src="../../img/logo.png", alt="logo")
        i.fas.fa-bars
    .header-icons
        .header-search
            i.fas.fa-search(aria-hidden='true')
        .header-social
            a(href="#").header-social-item
                i.fab.fa-twitter(aria-hidden='true')
            a(href="#").header-social-item
                i.fab.fa-facebook-f(aria-hidden='true')
            a(href="#").header-social-item
                i.fab.fa-vk(aria-hidden='true')
    