header.header
    .header-logo
        img.header-logo-img(src="../../img/logo.png", alt="logo")
    button#nav-menu-toggle.cmn-toggle-switch.cmn-toggle-switch__htx
        span toggle menu
    .header-icons
        i.fas.fa-phone-alt(aria-hidden='true')
        a(href="").aside-footer-phone.header-phone 8 (8452) 674 604
        .header-search
            i.fas.fa-search(aria-hidden='true')
        .header-social
            a(href="#").header-social-item
                i.fab.fa-twitter(aria-hidden='true')
            a(href="#").header-social-item
                i.fab.fa-facebook-f(aria-hidden='true')
            a(href="#").header-social-item
                i.fab.fa-vk(aria-hidden='true')