section.main-section
    .container
        .section-content
            .section-menu.section-menu--flex
                .section-menu-top
                    h3.title-3 Услуги
                    nav.section-menu-list
                        a(href="#").section-menu-item Проектирование
                        a(href="#").section-menu-item Изготовление
                        a(href="#").section-menu-item Доставка
                        a(href="#").section-menu-item Монтаж
                        a(href="#").section-menu-item Запуск и наладка
                    
                .questionnaire
                    p.questionnaire-title Опросный лист
                    a(href="#").questionnaire-link.animate-border Скачать
                    a(href="#").questionnaire-img
                        img(src="img/pdf-icon.png", alt="icon")

            .section-img
                .section-img-top      
                    img(src="img/home/img2.jpg", alt="img")
                .section-img-bottom     
                    img(src="img/home/img3.jpg", alt="img")