section.main-section.section.section3
    .container
        .section-content.section-content--column
            .section-text.section-text--partners
                .title-3 
                    h3 Уважаемые партнеры
                .section-paragraph 
                    p ООО «ПКФ Энергострой» с 2012 года осуществляет разработку и проектирование,  изготовление и монтаж блочно-модульных транспортабельных котельных установок ТКУ и БКУ, а также монтаж отдельно стоящих, пристроенных к объектам отопления котельных, встроенных в существующее помещение потребителя и крышных котельных теплопроизводительностью от 0,05 до 20 МВт, предназначенных для работы на газообразном (природный и сжиженный газ) топливе, жидком (солярка и мазут) топливе, отработанном масле, твердом (пеллеты и уголь) топливе
                    span.more-info читать далее 
                .section-paragraph.section-paragraph--hide 
                    p ТКУ предназначены для обеспечения теплом потребителя, а так же вентиляции и ГВС объектов производственного назначения, административного и  культурно-бытового назначения, а также жилых комплексов и домов. ТКУ изготовляется в виде блоков, которые после доставки на место эксплуатации монтируются в единую конструкцию. Доставка блоков БКУ осуществляется железнодорожным и авто транспортом. В зависимости от согласованного технического задания и пожеланий заказчика, котельная оборудуется современными средствами автоматизации, позволяющими работать котельной без обслуживающего персонала.

                
            .section-img.section-img-partners                  
                img(src="img/home/img4.jpg", alt="img")