section.production
    .container
        .section-menu
            h3.title-3 Продукция
            ul.section-menu-list
                li.menu-item-dropdown
                    a(href="#").section-menu-item Блочно-модульные
                    .dropdown-list
                        a(href="#").dropdown-list-item ТКУ
                        a(href="#").dropdown-list-item ГРУ
                        a(href="#").dropdown-list-item Шкафы
                li
                    a(href="#").section-menu-item Модульные крышные
                li
                    a(href="#").section-menu-item Модульные на шасси
                li
                    a(href="#").section-menu-item Паровые котельные
                li
                    a(href="#").section-menu-item Термомасляные
                li
                    a(href="#").section-menu-item Стационарные котельные
                li
                    a(href="#").section-menu-item Трубы дымовые
                li
                    a(href="#").section-menu-item ПГБ