section.main-section.main-section-pt.section.section0
    .container
        .section-content
            .section-menu
                .title-3
                    h3  Продукция
                
                ul.section-menu-mobile
                    
                    li.menu-mobile-item
                        a(href="#!").mobile-item-category ТКУ                        
                        .menu-mobile-drop
                            button.close-drop
                                i.fas.fa-times
                            a(href="#").section-menu-item Блочно-модульные
                            a(href="#").section-menu-item Блочно-модульные
                            a(href="#").section-menu-item Блочно-модульные
                    li.menu-mobile-item
                        a(href="#!").mobile-item-category ГРУ, Шкафы
                        .menu-mobile-drop                           
                            button.close-drop
                                i.fas.fa-times
                            a(href="#").section-menu-item Блочно-модульные
                            a(href="#").section-menu-item Блочно-модульные
                            a(href="#").section-menu-item Блочно-модульные
                            a(href="#").section-menu-item Блочно-модульные 
                    
                    li.menu-mobile-item                        
                        a(href="#!").mobile-item-category ПГБ
                        .menu-mobile-drop                           
                            button.close-drop
                                i.fas.fa-times                            
                            a(href="#").section-menu-item Блочно-модульные
                            a(href="#").section-menu-item Блочно-модульные
                            a(href="#").section-menu-item Блочно-модульные
                            a(href="#").section-menu-item Блочно-модульные
                          
                nav.section-menu-list                    
                    a(href="one-product.html").section-menu-item Блочно-модульные 
                    a(href="#").section-menu-item Модульные крышные
                    a(href="#").section-menu-item Модульные на шасси
                    a(href="#").section-menu-item Паровые котельные
                    a(href="#").section-menu-item Термомасляные
                    a(href="#").section-menu-item Стационарные котельные
                    a(href="#").section-menu-item Трубы дымовые
                    a(href="#").section-menu-item Котлы наружного размещения
                    a(href="#").section-menu-item Измерительные комплексы и газовые счетчики
            .section-img
                img(src="img/home/img1.jpg", alt="img")
                .categiry-list
                    a(href="#").categiry-list-item ТКУ
                    a(href="#").categiry-list-item ГРУ, Шкафы
                    a(href="#").categiry-list-item ПГБ