section.main-section#service.section.section1
    .container
        .section-content
            .section-menu.section-menu--flex
                .section-menu-top
                    h3.title-3 Услуги

                    //section-menu-mobile
                    ul.section-menu-mobile
                        //section-menu-item
                        li.menu-mobile-item
                            a(href="#!").mobile-item-category ТКУ                        
                            .menu-mobile-drop
                                button.close-drop
                                    i.fas.fa-times
                                a(href="#").section-menu-item Блочно-модульные
                                a(href="#").section-menu-item Блочно-модульные
                                a(href="#").section-menu-item Блочно-модульные
                                
                        //section-menu-item
                        li.menu-mobile-item
                            a(href="#!").mobile-item-category ГРУ, Шкафы
                            .menu-mobile-drop                           
                                button.close-drop
                                    i.fas.fa-times
                                a(href="#").section-menu-item Блочно-модульные
                                a(href="#").section-menu-item Блочно-модульные
                                a(href="#").section-menu-item Блочно-модульные
                                a(href="#").section-menu-item Блочно-модульные
                                

                        //section-menu-item
                        li.menu-mobile-item                        
                            a(href="#!").mobile-item-category ПГБ
                            .menu-mobile-drop                           
                                button.close-drop
                                    i.fas.fa-times                            
                                a(href="#").section-menu-item Блочно-модульные
                                a(href="#").section-menu-item Блочно-модульные
                                a(href="#").section-menu-item Блочно-модульные
                                a(href="#").section-menu-item Блочно-модульные
                    
                    // desktop menu
                    nav.section-menu-list
                        a(href="designing.html").section-menu-item Проектирование
                        a(href="#").section-menu-item Изготовление
                        a(href="#").section-menu-item Доставка
                        a(href="#").section-menu-item Монтаж
                        a(href="#").section-menu-item Запуск и наладка
                    
                .questionnaire.questionnaire--desktop
                    p.questionnaire-title Опросный лист
                    a(href="#").questionnaire-link.animate-border Скачать
                    a(href="#").questionnaire-img
                        img(src="img/pdf-icon.png", alt="icon")

            .section-img.section-img--double
                img(src="img/fake.png", alt="img")
                img.section-img-top(src="img/home/img2.jpg", alt="img")                     
                img.section-img-bottom(src="img/home/img3.jpg", alt="img")

        
        .questionnaire.questionnaire--mobile
            p.questionnaire-title Опросный лист
            a(href="#").questionnaire-link.animate-border Скачать
            a(href="#").questionnaire-img
                img(src="img/pdf-icon.png", alt="icon")