//страница Товара
section.one-product.main-section-pt
    .container
        h3.title-3 Модульные крышные котельные
        .section-content#block1.fullpage
            .one-product-slider
                .fotorama(data-width="690" data-height="460" data-nav="thumbs" data-thumbwidth="110" data-thumbheight="110")
                    img(src='../../img/product/1.jpg')
                    img(src='../../img/product/2.jpg')
                    img(src='../../img/product/3.jpg')
                    img(src='../../img/product/4.jpg')
                    img(src='../../img/product/5.jpg')
            .one-product-desc
                .products-tabs
                    .products-tabs-toggle
                        button#tabOne.active Характеристики
                        button#tabTwo Описание
                    .products-tabs-content
                        .tabs-content-table.active#tabOneContent
                            .products-table
                                .products-table-row.one-product-table-header
                                    .table-cell-name Наименование
                                    .table-cell-descrip Характеристика
                                .products-table-row
                                    .table-cell-name
                                        span Регулируемая среда
                                    .table-cell-descrip
                                        span Природный газ по ГОСТ 5542-87
                                .products-table-row
                                    .table-cell-name
                                        span Регулятор давления газа
                                    .table-cell-descrip
                                        span РДГ-80Н
                                .products-table-row
                                    .table-cell-name
                                        span Максимальное входное давление, МПа
                                    .table-cell-descrip
                                        span 1,2
                                .products-table-row
                                    .table-cell-name
                                        span Диапазон настройки выходного давления, кПа
                                    .table-cell-descrip
                                        span 1 — 60
                                .products-table-row
                                    .table-cell-name
                                        span Пропускная способность, м³ /ч, при входном давлении, Мпа:
                                    .table-cell-descrip
                                        span РДГ-80Н (В)
                                .products-table-row
                                    .table-cell-name
                                        span Средний срок службы, лет
                                    .table-cell-descrip
                                        span 15
                                .products-table-row
                                    .table-cell-name
                                        span Назначенный срок службы, лет
                                    .table-cell-descrip
                                        span 40
                                .products-table-row
                                    .table-cell-name
                                        span Масса, кг
                                    .table-cell-descrip
                                        span 520
                        .tabs-content-descrip#tabTwoContent 
                            .section-paragraph
                                p Конструкция такого котла , который имеет самую тяжелую часть - теплообменник, имеет вес 250 кг, это позволяет транспортировать его в грузовом или пассажирском лифте, а так же с помощью строительной поворотной лебедки, прямо с крыши здания на котором установлена котельная.
                            .section-paragraph
                                p Вес котлов  в крышной котельной 3МВт, изготавливаемой нашей компанией, составляет всего 2 тонны, вместо 11-ти тонн при применении традиционных жаротрубных котлов.
                            .section-description
                                p Вес теплообменника
                                    span 250 кг
                            .section-description
                                p Котельная на
                                    span 3МВт
                            .section-description
                                p Вес котлов
                                    span 2 тонны
        .section-content.section-content-info#block2.fullpage
            .one-product-info
                .one-product-info-wrapper
                    .one-product-info-text
                        | ООО «Энергострой» производит блочно модульные крышные котельные полной заводской готовности, которые необходимо лишь установить на перекрытие технического этажа существующего здания и подключить к коммуникациям. 
                        | Применение облегченных, конденсатных котлов в модульных крышных котельных даёт неоспримые преимущества нашим котельным. Использование жаротрубных котлов с дутьевыми горелками для крышных котельных нежелательно по причине того, что они имеют большой вес, большой объем котловой воды, а так же значительные габариты. Например, вес котла Buderus или Viessmann   мощностью 1,5МВт, составляет около 3-х тонн, а объем воды в таком котле 2,5 тонны. 
                        | Вес наполненных водой двух котлов установленных в модульной крышной котельной имеющей мощность 3,0 МВт составит порядка 11 тонн. Это будет являться большой нагрузкой на крышу отапливаемого объекта.
                    .one-product-info-link
                        #textall Читать все &#187;
                .one-product-info-img
                    img(src="../../img/product/infoimg.jpg", alt="img")
            .one-product-info-full
                .one-product-info-text
                    | ООО «Энергострой» производит блочно модульные крышные котельные полной заводской готовности, которые необходимо лишь установить на перекрытие технического этажа существующего здания и подключить к коммуникациям. 
                    | Применение облегченных, конденсатных котлов в модульных крышных котельных даёт неоспримые преимущества нашим котельным. Использование жаротрубных котлов с дутьевыми горелками для крышных котельных нежелательно по причине того, что они имеют большой вес, большой объем котловой воды, а так же значительные габариты. Например, вес котла Buderus или Viessmann   мощностью 1,5МВт, составляет около 3-х тонн, а объем воды в таком котле 2,5 тонны. 
                    | Вес наполненных водой двух котлов установленных в модульной крышной котельной имеющей мощность 3,0 МВт составит порядка 11 тонн. Это будет являться большой нагрузкой на крышу отапливаемого объекта.
                .one-product-info-link
                    #textroll Свернуть &#171;