.page-navigation
    nav.page-navigation-list
        a(href="#").page-navigation-item.active
        a(href="#").page-navigation-item
        a(href="#").page-navigation-item
    a(href="#").navigation-mouse