section.main-section.main-section-pt#block1.fullpage
    .container
        h3.title-3 Партнерам
        .section-content.section-content--partners
            .section-text
                p Приглашаем к сотрудничеству региональных диллеров 05.08.2013 11:38 ООО «ПКФ Энергострой» расширяет сбытовую сеть и предлагает потенциальным дилерам, представителям, и всем заинтересованным в иных формах сотрудничества рассмотреть возможность представления наших интересов по продвижению производимой нами продукции в регионах присутствия Вашей компании.
            .section-img
                img(src="img/partners/partners.jpg", alt="image")
        .partners-description
            .medium-paragrafe
                p Нам нужны партнеры со следующими вариантами сотрудничества:

            ul
                li Дилеры из регионов России и стран СНГ, с которыми после декларирования потенциальных объемов продаж и их динамики договором будет закреплено эксклюзивное право торговли нашей продукцией на территории присутствия.

                li Представители – подрядные и строительно-монтажные компании, выполняющие работы связанные с отоплением и газоснабжением, представляющие нашу продукцию своим заказчикам и инвесторам, готовые к оптово-розничным закупкам, но не претендующие на весь регион.

                li Специалисты проектировщики в сфере газификации, теплоснабжения, газового и отопительного оборудования, которые могли бы применять нашу продукцию в выполняемых проектах, рекомендовать нашу продукцию потенциальным клиентам.
            .section-paragraph
                p Работа предполагается по агентскому договору. Будут рассмотрены абсолютно все отклики, однако, по понятным причинам, наиболее выгодные условия получат партнеры, хорошо знакомые со спецификой рынка отопительного оборудования, имеющие объемы, наработанные связи и каналы продаж.

section.main-section#block2.fullpage.main-section--bottom
    .container
        .slogan-block
            p.medium-title В индивидуальном порядке ООО «ПКФ Энергострой» осуществляет разработку и изготовление нестандартного теплотехнического и газового оборудования по заданию и чертежам заказчика.
        .paragraph
            p В случае заинтересованности свяжитесь с нами по электронной почте #[a(href="mailto:info@gaz555.ru") info@gaz555.ru], для получения информации о компании, продукции и условиях сотрудничества. 

        .partners-benefits
            p В вашем запросе сообщите пожалуйста следующую информацию:
        .benefits-block
            .benefits-block-item                
                .benefits-text.text-medium  Ваши ФИО и, если представляете организацию, ее название
                    .benefits-number 01

            .benefits-block-item
                
                .benefits-text.text-medium  Вашу контактную информацию, включая телефон
                    .benefits-number 02
            .benefits-block-item                
                .benefits-text.text-medium  Ваш регион и территорию, на которой планируете работать
                    .benefits-number 03

            .benefits-block-item                
                .benefits-text.text-medium  Предпочтительный вариант сотрудничества
                    .benefits-number 04