section.main-section.main-section-pt#block1.section.section0
        h3.title-3 Продукция
            .products-type
                .card
                    .card-img(style="background-image: url(img/products/product1.jpg)")
                    a(href="#").card-name.section-menu-item Крышные котельные #[br] установки
                .card
                    .card-img(style="background-image: url(img/products/product2.jpg)")
                    a(href="#").card-name.section-menu-item Газорегуляторные#[br]пункты
                .card
                    .card-img(style="background-image: url(img/products/product3.jpg)")
                    a(href="#").card-name.section-menu-item Пункты учета#[br]расхода газа
                .card
                    .card-img(style="background-image: url(img/products/product4.jpg)")
                    a(href="#").card-name.section-menu-item Автоматические#[br]газораспределительные#[br]станции
                .card
                    .card-img(style="background-image: url(img/products/product5.jpg)")
                    a(href="#").card-name.section-menu-item Блочно-модульные#[br]котельные
                .card
                    .card-img(style="background-image: url(img/products/product6.jpg)")
                    a(href="#").card-name.section-menu-item Котлы наружного#[br]размещения
                .card
                    .card-img(style="background-image: url(img/products/product7.jpg)")
                    a(href="#").card-name.section-menu-item Комплектующие
                .card
                    .card-img(style="background-image: url(img/products/product8.jpg)")
                    a(href="#").card-name.section-menu-item Дымовые трубы

section.main-section#block2.section.section1
    .container
        .products-tabs
            .products-tabs-toggle
                button#tabOne.active Характеристики
                button#tabTwo Описание
            .products-tabs-content
                .tabs-content-table.active#tabOneContent
                    .products-table
                        .products-table-row.products-table-header
                            .table-cell-name Наиме&shy;нование
                            .table-cell-descrip Краткие характеристики
                            .table-cell-more Подробнее
                                
                        a(href="#").products-table-row
                            .table-cell-name
                                span ПГБ-32-2У
                            .table-cell-descrip
                                span РДНК-32/3(6,10)
                            .table-cell-more
                                .table-arrow
                        a(href="#").products-table-row
                            .table-cell-name
                                span ПГБ-32-2У1
                            .table-cell-descrip
                                span РДНК-32/3(6,10)
                            .table-cell-more
                                .table-arrow
                        a(href="#").products-table-row
                            .table-cell-name
                                span ПГБ-32-2У1
                            .table-cell-descrip
                                span РДНК-32/3(6,10)
                            .table-cell-more
                                .table-arrow
                .tabs-content-descrip#tabTwoContent 
                    p.section-paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat blanditiis explicabo aliquid dolore at illum magnam atque eum, soluta labore pariatur vitae voluptates? Accusantium facilis debitis minima officia magni ullam.
                    p.section-paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat blanditiis explicabo aliquid dolore at illum magnam atque eum, soluta labore pariatur vitae voluptates? Accusantium facilis debitis minima officia magni ullam.  
