section    
    .container
        .slogan-block
            p.medium-title В индивидуальном порядке ООО «ПКФ Энергострой» осуществляет разработку и изготовление нестандартного теплотехнического и газового оборудования по заданию и чертежам заказчика.