.aside {
    position: fixed;
    width: 340px;
    border-right: 1px solid @blue;
    height: 100vh;
}
.aside-header {
    border-bottom: 1px solid @blue;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 300px;
}