.header {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid @blue;
    margin-left: 20px;
}
.header-social {
    display: flex;
    padding-left: 53px;
    padding-right: 53px;
    height: 78px;
    align-items: center;
}
.fa-twitter {
    color: @blue;
}
.fa-vk {
    color: @blue;
}
.fa-facebook-f {
    color: @orange;
    margin-left: 17px;
    margin-right: 17px;
}
.header-search {
    display: flex;
    align-items: center;
    border-left: 1px solid @blue;
    border-right: 1px solid @blue;
}
.fa-search {
    color: @blue;
    padding-left: 54px;
    padding-right: 54px;
}