.section-content--designing {
    .section-text {
        width: 47%;

        @media(max-width: 767px) {
            width: 100%;
        }
    }

    .section-img {
        width: 50%;

        @media(max-width: 767px) {
            width: 100%;
        }

    }
}