extends ../layouts/layout-modal.pug

block content
	.wrapper
		
		include ../sections/_aside.pug
		include ../sections/_header.pug
		include ../sections/_modal1.pug
		include ../sections/_footer.pug


block variables
	-var title = "Форма-1";