extends ../layouts/layout2.pug

block content
	.wrapper
		include ../sections/_breadcrumbs.pug
		include ../sections/_page-navigation.pug
		include ../sections/_aside.pug
		include ../sections/_header.pug
		.scrollpage(data-fs-scroll)
			.sections
				include ../sections/_products.pug
				include ../sections/_footer.pug


block variables
	-var title = "Продукция";